# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDoHnNZU2zdR63bwhbl07EBPbHtbATo8K0
VITE_FIREBASE_AUTH_DOMAIN=highland-firearms.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=highland-firearms
VITE_FIREBASE_STORAGE_BUCKET=highland-firearms.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=960225337027
VITE_FIREBASE_APP_ID=1:960225337027:web:0c3e9e44bb1294b1910c76
VITE_FIREBASE_MEASUREMENT_ID=G-BLQV544D7L
